---
name: attendance
url: /attendance
---

<style>

.grid-block {
	/*border: 1px solid red;*/
	/*border-top: 1px solid gray;*/
}
.grid-content {
	/*padding: 1em;*/
}




</style>

<div class="grid-container">
	<div class="grid-block">
		<div class="grid-block shrink">
			<div class="grid-content">
				<div class="align-bottom"></div>
				<div class="align-center">
					
				</div>
				<div class="align-top">
					<img src="http://placehold.it/50x50">
				</div>
			</div>
		</div>
		<div class="grid-block">
			<div class="grid-content">
				<h2>Rachel Lands</h2>
				<zf-action-sheet id="my-actionsheet">
				<zf-as-button><a class="small button">Present</a></zf-as-button>
				<zf-as-content position="bottom">
					<p>Tap to mark attendance</p>
					<ul>
						<li><a href="#">Present</a></li>
						<li><a href="#">Absent</a></li>
						<li><a href="#">Excused</a></li>
						<li><a href="#">Tardy</a></li>
					</ul>
				</zf-as-content>
				</zf-action-sheet>
			</div>
		</div>
	</div>
</div>


