---
name: courses
url: /
controller: CourseController
---


<div class="grid-container">
	<ul class="menu-bar calendar">
				<li><a><img zf-iconic="" icon="chevron" data-direction="left" size="small" class="color-hobsons"></a></li>
				<li><a>Today</a></li>
				<li><a><img zf-iconic="" icon="chevron" data-direction="right" size="small" class="color-hobsons"></a></li>
			</ul>
	<div class="grid-block">
		<div class="grid-content">
			<div class="card" ng-repeat="course in courses">
				<div class="card-section">
					<small>{{ course.course_id}}</small>
					<a ui-sref="attendance({ id: course.course_id})">
						<h2>{{ course.course_name }}</h2>
					</a>
					<p>{{ course.date }}</p>
				</div>
			</div>
		</div>
	</div>
</div>