---
name: survey
url: /survey?id=
controller : SurveyController
---

<style>
.grid-block {
	/*border: 1px solid red;*/
	/*border-top: 1px solid gray;*/
}
.grid-content {
	/*padding: 1em;*/
}
</style>


<div class="grid-container">
<div  ng-repeat="student in students">
	<div class="grid-block row-top-half">

		<div class="grid-block small-3">
			<div class="grid-content">
					<div class="align-bottom"></div>
					<div class="align-center"></div>
					<div class="align-top">
						<img src="{{student.image}}">
					</div>
			</div>
		</div>
		<div class="grid-block small-9">
			<div class="grid-content">
				<h2>{{student.student_name}}</h2>
			</div>
		</div>
	</div>
	<div class="grid-block row">
		<div class="grid-block small-3">
			<!-- empty -->
		</div>
		<div class="grid-block small-9">
			<div class="grid-content">
				<zf-accordion auto-open="false" collapsible="true">
					<zf-accordion-item title="Give Feedback">
						<section class="block-list">
						<ul>
							<li>
								<input ng-model="flag1" type="checkbox" id="flag1_{{student.student_id}}" ng-change="change('Behavior Concern','{{student.student_id}}')">
								<label for="flag1_{{student.student_id}}">Behavior Concern</label>
							</li>
							<li>
								<input  ng-model="flag2" type="checkbox" id="flag2_{{student.student_id}}" ng-change="change('Attendance Concern', '{{student.student_id}}')">
								<label for="flag2_{{student.student_id}}">Attendance Concern</label>
							</li>
							<li>
								<input ng-model="flag3"  type="checkbox" id="flag3_{{student.student_id}}" ng-change="change('Dramatic Change in Appearance', '{{student.student_id}}')">
								<label for="flag3_{{student.student_id}}">Dramatic Change in Appearance</label>
							</li>
						</ul>
						</section>
					</zf-accordion-item>
				</zf-accordion>
			</div>
		</div>
	</div>
		</div>
</div>





